$mainColor: rgb(221, 47, 47) ;

body{
    font-family: 'Cinzel', serif;
    background-color: rgb(41, 39, 39);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.transition{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.transition2{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.error{
    margin: 10px auto;
    margin-top: -10px;
    color: $mainColor;
    display: none;
}
.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.clear{
    clear: both;
}
.hidden{
    display: none;
}
hr{
    width: 150px;
    border: none;
    margin: auto;
    height: 1.1px;
    background-color: $mainColor;
}
.hr-2{
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
    margin-top: 2px;
    margin-bottom: 20px;
}
header{
    background-image: url(../images/image15.jpg);
    @extend .cover;
    color: #fff;
    position:relative;
    overflow: hidden;
    .overlay{
        background-color: rgba(43, 41, 41, .7);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
    }
    nav{
        background-color: rgba(19, 18, 18, 0.8);
        height: 60px;
        line-height: 60px;
        .container{
            .logo{
                font-size: 25px;
                font-weight: bold;
                span{
                    color:$mainColor;
                }
            }
            ul{
                text-transform: uppercase;
                list-style: none;
                font-size: 18px;
                li{
                    display: inline-block;
                    margin: 0 10px;
                    @extend .transition;
                    &:hover{
                        color: $mainColor;
                        border-bottom: 4px solid $mainColor;
                        cursor: pointer;
                    }
                    &.selected{
                        color: $mainColor;
                        border-bottom: 4px solid $mainColor;
                        cursor: pointer;
                    }
                }
            }
            .fa-bars{
                line-height: 65px;
                margin-right: 20px;
                cursor: pointer;
                position: absolute;
                right: 30px;
                top: 0;
            }
        }
    }
    .content{
        margin-left: 50px;
        h1{
            margin-top: 170px;
            font-size: 58px;
            color: #fff;
            text-transform: capitalize;
            margin-bottom: 20px;
            span{
                color: $mainColor
            }
        }
        button{
            margin-top: 40px;
            background-color: transparent;
            color: #fff;
            font-size: 20px;
            padding: 5px 22px;
            border: 2px solid #fff;
            border-radius: 10px;
            outline: none;
            @extend .transition;
            &:hover{
                background-color: $mainColor;
                border: 2px solid $mainColor;
                color: #fff;
            }
        }
    }
    .nav-responsive{
        background-color: #333;
        position: absolute;
        bottom: 0;
        right: -100%;
        top: 60px;
        width: 100%;
        font-size: 22px;
        @extend .transition2;
        &.move{
            right: 0;
        }
        ul{
            margin: 30px;
            li{
                display:block;
                margin: 10px auto;
                width: 150px;
                padding: 10px 5px;
                border: 2px solid #333;
                &:hover{
                    color: $mainColor;
                    border: 2px solid $mainColor;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
.about-us{
    min-height: 300px;
    margin: 0 20px;
    section{
        display: inline-block;
        border: 1px solid rgb(194, 192, 192);
        box-shadow: 5px 5px 5px #666;
        top: -50px;
        background-color: rgba(80, 74, 74, 0.9);
        padding: 0;
        border-top: 5px solid $mainColor;
        border-radius: 5px;
        margin: -2px;
        margin-bottom: 20px;
        text-align: center;
        @extend .transition;
        .image{
            img{
                width: 100%;
                height: 171px;
            }
        }
        h2{
            margin: 10px 0;
            color: #fff;
            font-weight: bold;
        }
        p{
            margin-bottom: 50px;
            color: #fff;
            line-height: 1.4;
            padding: 0 10px;
        }
        &:hover{
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -o-transform: translateY(-30px);
            transform: translateY(-30px);
        }
    }
}
.testimonial{
    background-image: url(../images/image10.jpg);
    height: 550px;
    display: block;
    color: #fff;
    @extend .cover;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    .overlay{
        background-color: rgba(43, 41, 41, .8);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        h1{
            margin-bottom: 20px;
            margin-top: 50px;
        }
        .client{
            text-align: center;
            overflow: hidden;
            display: none;
            .image{
                padding: 5px;
                border-radius: 50%;
                border: 6px solid rgba(189, 54, 54, 0.7);
                max-width: 164px;
                margin: auto;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    height: 120px;
                    border: 1px solid $mainColor;
                    border-radius: 50%;
                }
            }
            .info{
                h2{
                    text-transform: uppercase;
                }
                p{
                    line-height: 2;
                    margin-top: 50px;
                    font-size: 17.5px;
                    margin-bottom: 50px;
                }
            }
            &.active{
                display: block;
            }
        }
        .slider{
            i{
                position: absolute;
                top: 50%;
                color: #fff;
                cursor: pointer;
                &.fa-chevron-left{
                    left: 40px;
                }
                &.fa-chevron-right{
                    right: 40px;
                }
                &:hover{
                    color: $mainColor;
                }
            }
        }
    }
}
.our-team{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    display: block;
    overflow: hidden;
    .label{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: bold;
        span{
            color: $mainColor;
        }
    }
    .text{
        line-height: 1.3;
        max-width: 600px;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
    .trainer{
        display: inline-block;
        width: 300px;
        margin: 20px;
        background-color: $mainColor;
        .socials{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 250px;
            background-color: rgba(53, 51, 51, .9);
            line-height: 250px;
            display: none;
            i{
                padding: 15px;
                border-radius: 20px;
                font-size: 30px;
                background-color: transparent;
                cursor: pointer;
                &.fa-facebook{
                    padding: 15px 18px;
                    color: #1877F2;
                    border: 1px solid #1877F2;
                    &:hover{
                        color: #fff;
                        background-color: #1877F2;
                    }
                }
                &.fa-instagram{
                    color: #E4405F;
                    border: 1px solid #E4405F;
                    &:hover{
                        color: #fff;
                        background-color: #E4405F;
                    }
                }
                &.fa-twitter{
                    color: #1DA1F2;
                    border: 1px solid #1DA1F2;
                    &:hover{
                        color: #fff;
                        background-color: #1DA1F2;
                    }
                }
            }
        }
        .image{
            img{
                width: 300px;
                height: 250px;
                margin-left: -15px;
            }
        }
        .info{
            h2{
                margin-top: 10px;
                color: #fff4ff;
                font-weight: bold;
            }
            p{
                color: #fff4ff;
            }
        }
        &:hover{
            .socials{
                display: block;
            }
        }
    }
}
.choose-us{
    margin: 80px auto;
    display: flex;
    img{
        height: 650px;
    }
    section{
        color: #fff;
        h1{
            margin-top: 10px;
        }
        hr{
            margin-left: 50px;
        }
        p{
            line-height: 2;
        }
    }
}
.prices{
    margin: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    h1{
        text-transform: uppercase;
    }
    p{
        margin-bottom: 30px;
    }
    section{
        float: left;
        margin: 0;
        margin-bottom: 30px;
        border: 1px solid #666;
        border-radius: 20px;
        padding: 0;
        background-color: #222;
        cursor: pointer;
        @extend .transition;
        .header{
            font-size: 23px;
            line-height: 60px;
            text-transform: uppercase;
        }
        .price{
            background-color: $mainColor;
            line-height: 80px;
            margin-bottom: 10px;
            span{
                font-size: 30px;
            }
        }
        p{
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid #666;
        }
        p:last-of-type{
            padding-bottom: 20px;
            border-bottom: none;
        }
        &:hover{
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
            z-index: 1;
        }
    }
}
.contact-us{
    background-image: url(../images/image9.jpg);
    @extend .cover;
    margin: 50px auto;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    position: relative;
    height: 750px;
    font-size: 20px;
    display: block;
    overflow: hidden;
    .overlay{
        background-color: rgba(43, 41, 41, .8);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        form{
            h1{
               text-transform: uppercase;
               margin: 20px auto;
               margin-top: 40px;
            }
            .line{
                margin-bottom: 20px;
            }
            input{
                width: 70%;
                padding: 10px 15px;
                border-radius: 15px;
                background-color: rgba(243, 239, 239, .5);
                margin-bottom: 15px;
                color: #111;
                border: 1px solid #222;
                &::placeholder{
                    color: #333;
                    font-size: 18px;
                }
                &:focus{
                    outline: none;
                }
            }
            textarea{
                width: 70%;
                height: 190px;
                border: 1px solid #222;
                padding: 10px 15px;
                border-radius: 15px;
                background-color: #444;
                margin-bottom: 10px;
                color: #111;
                background-color: rgba(243, 239, 239, .5);
                &::placeholder{
                    color: #333;
                    font-size: 20px;
                }
                &:focus{
                    outline: none;
                }
            }
            input:last-of-type{
                background-color: $mainColor;
                border: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}
.root{
    margin-top: 0;
    color: #fff;
    .map{
        iframe{
            width: 100%;
            height: 300px;
        }
    }
    .mailing{
        display: flex;
        padding: 30px 0;
        .info{
            display: flex;
             div{
                margin-right: 20px;
                display: flex;
                .icon{
                    margin-right: 15px;
                    i{
                        color: $mainColor;
                        padding: 10px;
                        border: 1px solid $mainColor;
                        border-radius: 50%;
                    }
                    &:hover{
                        i{
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }
                }
                p{
                    span{
                        text-transform: capitalize;
                        font-size: 20px;
                    }
                }
            }
            .location{
                .icon{
                    i{
                        padding: 10px 15px;
                    }
                }
            }
            .email{
                .icon{
                    i{
                        line-height: 55px;
                        padding: 10px 15px;
                    }
                }
           }
        }
        .socials{
            margin: 15px;
            margin-right: 0;
            i{
                padding: 10px;
                border: 1px solid #666;
                margin: 3px;
                border-radius: 5px;
                font-size: 25px;
                cursor: pointer;
                @extend .transition;
                &.fa-facebook{
                    color: #fff;
                    background-color: #1877F2;
                    border: 1px solid #1877F2;
                }
                &.fa-instagram{
                    color: #fff;
                    background-color: #E4405F;
                    border: 1px solid #E4405F;
                }
                &.fa-twitter{
                    color: #fff;
                    background-color: #1DA1F2;
                    border: 1px solid #1DA1F2;
                }
                &:hover{
                    -webkit-transform: translateY(-10px);
                    -moz-transform: translateY(-10px);
                    -o-transform: translateY(-10px);
                    transform: translateY(-10px);
                }
            }
        }
    }
    footer{
        background-color: black;
        text-align: center;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(231, 228, 228);
        span{
            color: $mainColor;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 546px) {
    header{
        .content{
            text-align: center;
            h1{
                font-size: 40px;
                font-weight: bold;
                margin-top: 150px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .prices{
        h1{
            font-size: 25px;
        }
    }
    .root{
        display: block;
        .mailing{
            display: block;
            .info{
                display: block;
                margin: auto;
                div{
                    margin-bottom: 10px;
                }
            }
            .socials{
                display: block;
                height: 50px;
                margin: auto;
            }
        }
        footer{
            font-size: 15px;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 770px) {
    .choose-us{
        display: block;
        img{
            display: block;
            height: 500px;
        }
        section{
            display: block;
            text-align: center;
            h1{
                margin-top: 20px;
            }
            .line{
                hr{
                    margin-left: auto;
                }
            }
        }
    }

}

@media only screen and (min-width: 552px) and (max-width: 770px) {
    .root{
        .mailing{
            display: inline-block;
            .info{
                font-size: 14px;
                div{
                    .icon{
                        i{
                            border: none;
                            font-size: 40px;
                        }
                    }
                    p{
                        span{
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .socials{
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px) {
    .root{
        display: block;
        .mailing{
            display: block;
            .socials{
                display: block;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }

}
@media only screen and (max-width: 992px) {
    nav{
        .container{
            ul{
                display:none;
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    nav{
        .container{
            .fa-bars{
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 750px) and (max-width: 929px) {
    .about-us{
        section{
            h2{
                font-size: 25px;
            }
        }
    }
}
